#containerSplit{
    display:flex;
    text-align:center;
    width:100%;
}
        
#login,#signin{
    width:50%;
    padding-top:5%;
}
        
        
#ulMenu li a{
    color:white;
}
        
label{
    font-size:20px;
    margin-right:50%;
         
}
        
.form-control{
    margin-left:20%;
}
        
.emailLabel{
    margin-right:54%;
}
        
small{
    color: grey;
}
        